@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<div class="card">
  <div class="card-header">
    <h2>Machine Details</h2>
  </div>
  <div class="card-body">
    <h3 class="card-title">Machine Type: @Html.DisplayFor(model => model.MachineName)</h3>
    <h3 class="card-title">Machine Model: @Html.DisplayFor(model => model.MachineModel)</h3>
    <h4 class="card-subtitle mb-2 text-muted">Machine Description: @Html.DisplayFor(model => model.MachineDescription)</h4> 

    @if(@Model.JoinEntities.Count == 0)
    {
      <p>No Engineers have been assinged to this Machine!</p>
    }
    else
    {
      <h4>The Following Engineers are assinged to this Machine:</h4>
      <ul>
        @foreach(MachineEngineer join in Model.JoinEntities)
        {
          <li>@Html.ActionLink($"{join.Engineer.EngineerId}", "Details", "Films", new { id = join.Engineer.EngineerId})</li>
        }
      </ul>
    }

  </div>
</div>
      <p>@Html.ActionLink("Back to Machines", "Index", null, new { @class = "btn btn-secondary mb-2" })</p>
      @* <p>@Html.ActionLink("Add a film for this actor", "AddFilm", new { id = Model.ActorId }, new { @class = "btn btn-primary mb-2" })</p> *@
      <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId }, new { @class = "btn btn-warning mb-2" })</p>
      <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId }, new { @class = "btn btn-danger mb-2" })</p>
      @* <p>@Html.ActionLink("Add new Engineer", "Create", "Films", null, new { @class = "btn btn-success" })</p> *@
    
  

